/* You can add global styles to this file, and also import other style files */

body {
    background-color: #061531;
}

.card{
  background-color: #061531;
}
@font-face {
    font-family:DINAlternate-Bold ;
    src: url('/assets/fuentes/DINAlternate-Bold.ttf');
}
.title{
    font-family:DINAlternate-Bold;
    text-align:center;
    color: #903684;
}
@font-face {
    font-family:HelveticaLTStd-Light;
    src: url('/assets/fuentes/HelveticaLTStd-Light.otf');
}
h5{
  font-family:HelveticaLTStd-Light; 
}
