<h1>
  SIMPLE SPACE III
</h1>
<div>

  <button type="button" class="btn btn-dark">Panel Solar: </button> {{Despliegue}}
</div>
<div class="card" background-color="#061531;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper embed-responsive embed-responsive-16by9" style="height:300px;margin-top:40px;">
          <iframe width="600" height="320" src="http://165.227.212.222:8080/simple3.html" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart-wrapper embed-responsive embed-responsive-16by9" style="height:320px;margin-top:40px;">
          <iframe width="600" height="500" src="http://www.cansats3kratos.me/aprs"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-sm-2">
        <div class="text-muted" align="center">
          <h5>Altitude (m)</h5></div>
        <strong align="center"><h4>{{altura}}</h4></strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="text-muted" align="center">
          <h5>Temperature (°C)</h5></div>
        <strong align="center"><h4>{{visajetemp}}</h4></strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="text-muted" align="center">
          <h5>Longitud (°)</h5></div>
        <strong align="center"><h4>{{visajelon}}</h4></strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="text-muted" align="center">
          <h5>Latitud (°)</h5></div>
        <strong align="center"><h4>{{visajelat}}</h4></strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="text-muted" align="center">
          <h5>Time (HH:mm:ss)</h5></div>
        <strong align="center"><h4>{{visajetime | date : "H:mm:ss" }}</h4></strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="text-muted" align="center">
          <h5>Speed (m/s)</h5></div>
        <strong align="center"><h4>{{visajevel}}</h4></strong>
        <div class="progress progress-xs mt-2">
          <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper embed-responsive embed-responsive-16by9" style="height:300px;margin-top:40px;">
          <iframe width="600" height="320" src="http://165.227.212.222:8080/simple3ssdv.html" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="chart-wrapper" style="height:320px;margin-top:40px;">
          <agm-map [latitude]=6.228535 [longitude]=-75.532123 [zoom]=11 [scrollwheel]="false">
            <agm-marker class="mapMarker" *ngFor="let Coordinates of Coordinates;" [markerClickable]="true" [latitude]="Coordinates.x" [longitude]="Coordinates.y"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6">
          <strong><h5>Coordenadas</h5></strong>
        </div>
        <div class="col-sm-6">
          <strong><h5>Altitud</h5></strong>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="400" height="200" [datasets]="coordenadaChartData" [options]="coorChartOptions" [colors]="lineChartColors" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="400" height="200" [datasets]="altChartData" [options]="altChartOptions" [colors]="lineChartColors" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6">
          <strong><h5>Temperatura</h5></strong>
        </div>
        <div class="col-sm-6">
          <strong><h5>Batería</h5></strong>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="400" height="200" [datasets]="mainChartData" [options]="tempChartOptions" [colors]="lineChartColors" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart width="400" height="200" [datasets]="batChartData" [options]="batChartOptions" [colors]="lineChartColors" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>
